# Mac
.DS_Store

# IntelliJ
.idea
.idea_modules
*.iml
*.ipr
*.iws
.history
classes

# build
out
build
target
gradle
.gradle
.gradletasknamecache
dockerBuilddone


#vscode
.vscode
javac-services.*
.settings
